.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
node_modules/**
!node_modules/puppeteer-core/**
!node_modules/katex/**
!node_modules/markdown-it/**
!node_modules/markdown-it-katex/**
